<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hakkımda</title>
  <link rel="stylesheet" href="about.component.css">
</head>
<body>
 <nav>
  <img src="Ayşe Sena Günel.jpeg" alt="#">
  <h1>AYŞE SENA GÜNEL</h1>
  <p>Teknoloji alanında kariyerime yön vermek istiyorum. Web teknolojileri konularında eğitimlerle ve pratik deneyimlerle bu alandaki yetkinliğimi artırmaya devam ediyorum. Farklı staj ve projelerde yer alarak, takım çalışması, problem çözme ve iletişim becerilerimi geliştirdim. Hedefim, dinamik bir ekipte yer alarak, öğrendiklerimi uygulamak ve yeni beceriler kazanmak. Öğrenmeye açık bir birey olarak,sürekli gelişimi destekleyen bir ortamda çalışmak için sabırsızlanıyorum. </p>
 </nav>
<main>
  <section class="left">
    <div class="communication">
      <h4>İLETİŞİM BİLGİLERİ</h4>
      <p>Telefon: <span>0542 597 01 74</span></p>
      <p>Adres: Bucak/BURDUR</p>
      <p>E-posta: <a href="aysesenagunel@gmail.com">aysesenagunelgmail.com</a></p>
      <p>LinkedIn: <a href="linkedin.com/in/aysesenagunel">linkedin.com/in/aysesenagunel</a></p>
    </div>
    <div class="personal-information">
      <h4>KİŞİSEL BİLGİLER</h4>
    <ul>
      <li>Doğum Tarihi ve Yeri: 19.03.1998 Bucak/Burdur</li>
      <li>Cinsiyet: Kadın</li>
      <li>Uyruk: Türkiye Cumhuriyeti</li>
      <li>Medeni Durumu: Bekar</li>
      <li>Ehliyet:  B</li>
    </ul>
    </div>
   <div class="experiences">
    <h4>DENEYİMLER</h4>
    <p></p>
    <p>
      <span>08.06.2020-03.07.2020</span> <br>
      SBÜ Antalya Eğitim ve Araştırma Hastanesi - Stajyer Mühendis, (Cihaz Arıza Tespiti)
    </p>
    <p>
      <span>10.07.2023-04.08.2023</span> <br>
      Fresenius Medical Care - Stajyer Mühendis, (Üretim, Tasarım ve Test)
    </p>
   </div>
    <div class="education">
      <h4>EĞİTİM BİLGİLERİ</h4>
    <ul>
      <li>
        <span>01.08.2024- Devam Etmekte</span><br>
        Karabük Üniversitesi, Bilgisayar Mühendisliği (YL)
      </li>
      <li>
        <span>08.10.2021-Devam Etmekte</span> <br>
        Anadolu Üniversitesi, Yönetim Bilişim Sistemleri (Lisans)
      </li>
      <li>
        <span>12/08/2017- 29.09.2023</span> <br>
        Karabük Üniversitesi, Biyomedikal Mühendisliği (Lisans)
      </li>
    </ul>
    </div>
    <div class="language">
      <h4>YABANCI DİL</h4>
      <p>İngilizce (intermadiate)</p>
    </div>
    <div class="interest">
      <h4>İLGİ ALANLARI</h4>
    <li>Tenis Oynamak</li>
    <li>Ukulele Çalmak</li>
    <li>Hakemlik Yapmak (Futbol)</li>
    </div>    
  </section>
  <section class="right">
    <div class="computer">
      <h4>BİLGİSAYAR BİLGİLERİ</h4>
    <li>Autodesk - Fusion360</li>
    <li>Autodesk - AutoCad</li>
    <li>SolidWorks</li>
    <li>MATLAB (Simulink, Gui)</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Microsoft Office Programları</li>
    </div>
    <div class="project">
      <h4>PROJELER</h4>
    <li>
      Tıp İçin Tasarla 2 - GIMBED (Geriatri Hastaları için Yatak Tasarımı), (Autodesk Fusion360)
    </li>
    <li>
      Prototip Elektrokardiyografi Modülü, (Arduino, Matlab Gui, Proteus)
    </li>
    <li>
      Bitirme Projesi - Bası Yarası Teşhisine Yönelik Sistem Tasarımı , (Matlab, Matlab Gui, Proteus, Arduino)
    </li>
    <li>
      İnsanlık Yararına Teknoloji Yarışması (Teknofest) - ANTREL (Fizik Tedavi İçin Eldiven Tasarımı), (Autodesk Fusion360, Arduino)
    </li>
    <li>
      Ford Otosan Gelecek Hayalim: W-Code Front-end 
    </li>
    </div>
    <div class="certificate">
      <h4>SERTİFİKALAR ve EĞİTİMLER</h4>
    <li>
      Fusion 360 Eğitim ve Uzay Aracı Tasarım Atölyesi
    </li>
    <li>
      ‘Tıp İçin Tasarla 2’ Disiplinlerarası 3D Tasarım Kampı - Autodesk ve Acıbadem Üniversitesi,
    </li>
    <li>
      Akran Eğitimi (Temel İlk Yardım ve Afet Eğitimi) - Genç Kızılay Karabük
    </li>
    <li>
      ISO 9001 Kalite Yönetimi, Udemy
    </li>
    <li>
      EN ISO 13485 Tıbbi Cihazlar Kalite Yönetim Sistemleri, Udemy
    </li>
    <li>
      Programlama Dünyasına Giriş Eğitimi - Ford Otosan, Gelecek Hayalim ve Sisterslab
    </li>
    <li>
      JavaScript’e Giriş Eğitimi - Ford Otosan, Gelecek Hayalim ve Sisterslab
    </li>
    <li>
      Etkili Excel Kullanımı Eğitimi - Ford Otosan, Gelecek Hayalim ve Sisterslab
    </li>
    <li>
      Gaming Eğitimi -  Ford Otosan,  Gelecek Hayalim ve Microfon
    </li>
    <li>
      Yapay Zeka Eğitimi - Ford Otosan, Gelecek Hayalim ve Microfon
    </li>
    <li>
      Veri Bilimine Giriş Eğitimi, Ford Otosan,  Gelecek Hayalim ve SistersLab
    </li>

    </div>
    <div class="volunteering">
      <h4>GÖNÜLLÜ HİZMET</h4>
    <li>
      <span>09.2019- 10.2021</span> <br>
      Genç Kızılay KBÜ- Başkan Yardımcısı
    </li>
    <li>
      <span>18.11.2021</span> <br>
      UNIKA SATIVUS
    </li>
    </div>    
  </section>
</main>  
</body>
</html>
