<header>
  <div class="header-container">
    <div class="header-left">
      <h1>AYŞE SENA GÜNEL</h1>
    </div>
    <div class="header-right">
      <input type="text" placeholder="Haber ara..." (keyup)="navigateToSearch()">
    </div>
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/">Ana sayfa</a></li>
      <li><a routerLink="/about">Hakkımda</a></li>
      <li><a routerLink="/category/business">Business</a></li>
      <li><a routerLink="/category/technology">Technology</a></li>
    </ul>
  </nav>
</header>

<main>
  <section>
    <div class="slider-container">
      <div class="slider-item">
        <img [src]="news.urlToImage" alt="{{ news.title }}">
        <h2>{{ news.title }}</h2>
        <p>{{ news.description }}</p>
        <a [href]="news.url" target="_blank">Devamını Oku</a>
      </div>
    </div>
  </section>
</main>

<footer>
  <p>© 2024 Tüm Hakları Saklıdır.</p>
</footer>

<router-outlet></router-outlet>
